{% extends 'base.html' %}

{% block content %}
<div class="row px-3">
    <div class="col">
        <div class="my-2" style="max-width: 600px; margin-left: auto; margin-right: auto;">
            <button onclick="create_session();" class="btn btn-success">Create New Session</button>
        </div>
        <div class="card shadow" style="max-width: 600px; margin-left: auto; margin-right: auto;">
            <div class="card-body text-center">
                <h1>Active Sessions</h1>
                <div id="sessions-list">
                    <p class="my-3 fst-italic">No active sessions</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var BASE_URL = 'http://localhost:3011';

    async function api_call(path, headers, method, payload) {
        var url = BASE_URL+path;
        var headings = {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        };
        for (var header in headers) {
            if (headers[header]) {
                headings[header] = headers[header];
            }
        }
        var requestOptions = {
            headers: headings,
            method: method,
            redirect: 'follow'
        };
        if (method != 'GET') {
            requestOptions['body'] = JSON.stringify(payload);
        }
        var response = await fetch(url, requestOptions);
        var json_response = await response.json();
        return {
            'status': response.status, 
            'response': json_response
        };
    }

    async function load_sessions() {
        var path = ('/api/sessions');
        var headers = {};
        var method = 'GET';
        var payload = {};
        /* For simplifying page */
        try {
            /* Execute API */
            var response = await api_call(
                path, 
                headers, 
                method,
                payload
            );
            if (response['status'] == 200) {
                var data = response['response']['data'];
                if (data.length === 0) {
                    return false;
                }
                document.getElementById('sessions-list').innerHTML = '';
                for (var i = 0; i < data.length; i++) {
                    html = `
                    <p>
                        <a href=/game/`+data[i]['session_id']+`>`+data[i]['session_id']+`</a>
                    </p>    
                    `;
                    document.getElementById('sessions-list').innerHTML += html;
                }
            } else {}
            // console.log(response['status']);
            // console.log(response['response']);
        } catch(e) {
            console.log(e);
        }
    }
    load_sessions();

    async function create_session() {
        var path = ('/api/create_session');
        var headers = {};
        var method = 'POST';
        var payload = {};
        /* For simplifying page */
        try {
            /* Execute API */
            var response = await api_call(
                path, 
                headers, 
                method,
                payload
            );
            if (response['status'] == 200) {
                var session_id = response['response']['data']['session_id'];
                load_sessions();
            } else {}
            // console.log(response['status']);
            // console.log(response['response']);
        } catch(e) {
            console.log(e);
        }
    }
</script>
    
{% endblock %}